*, ::before, ::after{
    box-sizing: border-box;
    font-weight: normal;
}

body{
    background: linear-gradient(to right, #ffafbd , #ffc3a0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  margin: 0;
}
@font-face {
    font-family: calender;
    src: url("./DigitalDisplayRegular-ODEO.ttf");
  }
.contianer{
background-color: white;
width:330px;
height:480px;
padding:30px 20px;
border-radius: 12px;
}
#input{
    height: 6vh;
  width: 290px;
  font-family: calender;
  font-size: 2rem;
}

[data-equal] {
    height: 8rem;
}
[data-all-clear]{
background:#feafbb;
}
.button{
    width:55px;
    height:55px;
    box-shadow: -2px -3px 12px #ffffff, 2px 3px 12px rgb(210 210 210);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin:10px;
    border-radius: 5px;
}
.button:hover{
    box-shadow: 2px 3px 6px rgb(189, 188, 188);
}
.buttons{
    display: flex;

}
#AC{
    background-color: #EA8B9E;
    color:white;
}
#equal{
height:125px
}

.previous-operand{

color:rgba(221, 214, 214, 0.921);
width: 100%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:15px;
}
.output{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    word-wrap: break-word;
    padding: 10px;
    gap:10px;
    text-align: right;
    word-break: break-all;
    flex-direction: column;
    background-color: rgb(80, 80, 80);
    height:70px;

}
.current-operand{
   
    color:white;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size:25px;
}
